@page "/post/edit/{id}"
@inject NavigationManager uriHelper
@using BlazorApp.Model;
@using static BlazorApp.Service.PostServices;

<h3>Edit</h3>

<EditForm Model="@datas" OnValidSubmit="@EditData">
     <DataAnnotationsValidator />
     <input type="hidden" @bind-value="@datas.Id"/>
     <div class="form-group">
        <label>Title :</label>
        <input type="text" class="form-control" @bind-value="@datas.Title" placeholder="Title">
            <ValidationMessage For="@(() => datas.Title)" />
    </div>
    <div class="form-group ">
            <label>Body :</label>
            <input type="text" class="form-control" @bind-value="@datas.Description" placeholder="Desc">
                <ValidationMessage For="@(() => datas.Description)" />
    </div>
   <p></p>
        <button type="submit" class="btn btn-success">
            Update
        </button>
</EditForm>

@code {
    [Parameter]
    public string Id { get; set; }
    Post datas = new Post();
    [Inject]
    protected IPostService postService { get; set; }
    protected async override Task OnParametersSetAsync()
    {
        datas = await postService.GetById(int.Parse(Id));
    }
    protected async Task EditData()
    {
        await postService.Update(datas);
        uriHelper.NavigateTo("post");
    }

}
